* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.background{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(40, 0, 48, 0.75),rgba(22, 0, 0, 0.75)),url(moto.jpg);
    background-size: cover;
    background-position: center;
}

.background .btn1 #btn-one{
    width: 150px;
    padding: 15px 0;
    text-align: center;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #a4a38b;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.background  .btn2 #btn-two{
    color: rgb(251, 255, 1);
    width: 100px;
    height: 30px;
    border-radius: 0px;
    background: transparent;
    border: 0px;
    font-family: Arial, Helvetica, sans-serif;  
    font-size: 22px;
    margin-top: 50px;
    margin-left: 500px;
    position: fixed;
}

.background .LogIn {
    background-color: rgb(170, 0, 156);
    border-color: rgb(130, 145, 0);
    box-shadow: 0 0 8px rgb(121, 0, 0);
    width: 420px;
    height: 500px;
    display: flex;
    border-radius: 20px;
    top: 200px;
    left: 650px;
    position: fixed;
  
  }
.background .LogIn #txt1 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    margin-left: 185px;
    margin-top: 40px;
}

.background .LogIn #txt2 {
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    margin-left: 110px;
    margin-top: 396px;
}

.background .SignUp {
    background-color: rgb(120, 0, 136);
    border-color: rgb(86, 105, 0);
    box-shadow: 0 0 8px rgb(70, 0, 0);
    width: 420px;
    height: 500px;
    display: flex;
    border-radius: 8px;
    top: 200px;
    left: 650px;
    position: fixed;
  
  }

.background .LogIn .back #btn-three{
    color: rgb(0, 0, 0);
    width: 100px;
    height: 30px;
    border-radius: 0px;
    background: transparent;
    border: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: 5px;
    margin-left: 345px;
    position: fixed;
}
.background .LogIn .back #btn-three:hover{
    color: rgb(196, 255, 34);
}

.background  .LogIn .sign-updirect #btn-four{
    color: rgb(86, 107, 231);
    width: 100px;
    height: 30px;
    border-radius: 0px;
    background: transparent;
    border: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    margin-top: 386px;
    margin-left: 220px;
    position: fixed;
}
.background  .LogIn .sign-updirect #btn-four:hover{
    color: blue;
}
.background .signUp-main {
    background-color: rgb(170, 0, 147);
    border-color: rgb(0, 119, 119);
    box-shadow: 0 0 8px rgb(107, 0, 0);
    width: 420px;
    height: 500px;
    display: flex;
    border-radius: 8px;
    top: 200px;
    left: 650px;
    position: fixed;
  
  }
.background .signUp-main .back2 #btn-five{
    color: rgb(12, 12, 12);
    width: 100px;
    height: 30px;
    border-radius: 0px;
    background: transparent;
    border: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: 5px;
    margin-left: 345px;
    position: fixed;
}
.background .signUp-main .back2 #btn-five:hover{
    color: red;
}

.background .signUp-main #txt3 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    margin-left: 185px;
    margin-top: 40px;
}
.background .signUp-main #txt4 {
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    margin-left: 110px;
    margin-top: 420px;
}
.background  .signUp-main .gotologin #btn-six{
    color: rgb(43, 62, 170);
    width: 100px;
    height: 30px;
    border-radius: 0px;
    background: transparent;
    border: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    margin-top: 410px;
    margin-left: 210px;
    position: fixed;
}
.background  .signUp-main .gotologin #btn-six:hover{
    color: blue;
}

.background .LogIn .email{
    position: fixed;
    margin-top: 125px;
    margin-left: 20px;
}
.background .LogIn .email form .form-control{
    width: 100%;
    height: 40px;
    background: white;
    border-radius: 4px;
    border: 1px solid silver;
    margin: 10px 120 18px 0;
    padding: 0 10px;
}

.background .LogIn .email form .btn7{
    margin-left: 190px;
    margin-top: 25px;
    transform: translateX(-50%);
    width: 120px;
    height: 34px;
    border: none;
    outline: none;
    background: rgb(69, 212, 69);
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    border-radius: 4px;
    transition: .3s;
}
.background .signUp-main .signupp{
    position: fixed;
    margin-top: 100px;
    margin-left: 20px;
}
.background .signUp-main .signupp form .form-control2{
    width: 100%;
    height: 40px;
    background: rgb(255, 255, 255);
    border-radius: 4px;
    border: 1px solid silver;
    margin: 10px 65 18px 0;
    padding: 0 10px;
}
.background .signUp-main .signupp form .btn8{
    margin-left: 190px;
    margin-top: 5px;
    transform: translateX(-50%);
    width: 120px;
    height: 34px;
    border: none;
    outline: none;
    background: rgb(69, 212, 69);
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    border-radius: 4px;
    transition: .3s;
}